@page "/savefile"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "RequireAdmin")]
@using System.Runtime.InteropServices
@rendermode InteractiveServer

<PageTitle>SaveFile</PageTitle>

<h1>SAVE A FILE ON THE SERVER</h1>

<button class="btn btn-primary" @onclick="WriteFile">Save a file on server</button>

@code {

    public void WriteFile()
    {
        string filePath;

        if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
        {
            filePath = @"C:\temp\backlog.txt";
        }
        else if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
        {
            // TODO: Fetch username dynamically
            filePath = @"/home/martin/backlog.txt";
        }
        else
        {
            Console.WriteLine("OS NOT SUPPORTED");
            return;
        }

        string currentDate = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");

        using (StreamWriter writer = new StreamWriter(filePath))
        {
            writer.WriteLine($"Backlog file has been created on this date: {currentDate}");
        }
    }
}
