@page "/savefile"
@attribute [Microsoft.AspNetCore.Authorization.Authorize(Policy = "RequireAdmin")]
@using System.Runtime.InteropServices
@rendermode InteractiveServer

<PageTitle>SaveFile</PageTitle>

<h1>SAVE A FILE ON THE SERVER</h1>

<button class="btn btn-primary" @onclick="WriteFile">Save a file on server</button>

<div>
    <h2>@_message</h2>
</div>

@code {
    public string _filePath;
    public string _message;

    public void WriteFile()
    {
        if (RuntimeInformation.IsOSPlatform(OSPlatform.Windows))
        {
            _filePath = @"C:\temp\backlog.txt";

            string directoryPath = Path.GetDirectoryName(_filePath);

            if (!Directory.Exists(directoryPath))
            {
                Directory.CreateDirectory(directoryPath);
            }
        }
        else if (RuntimeInformation.IsOSPlatform(OSPlatform.Linux))
        {
            // TODO: Fetch username dynamically
            _filePath = @"/home/martin/backlog.txt";
        }
        else
        {
            Console.WriteLine("OS NOT SUPPORTED");
            return;
        }

        string currentDate = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");

        using (StreamWriter writer = new StreamWriter(_filePath))
        {
            writer.WriteLine($"Backlog file has been created on this date: {currentDate}");
            _message = $"The file has been successfully created on this filepath: {_filePath}";
        }
    }
}
